History

<a href="https://www.wired.com/1997/04/a-brief-history-of-html/">Brief History</a>
<br>
Brief History: A brief history of the hypertext markup language. The idea behind HTML was a modest one.
When Tim Berners-Lee was putting together his first elementary browsing and authoring system for the Web, he created a quick little hypertext language that would serve his purposes.
He imagined dozens, or even hundreds, of hypertext formats in the future, and smart clients that could easily negotiate and translate documents from servers across the Net.
It would be a system similar to Claris XTND on the Macintosh, but would work on any platform and browser.
<br>
<br>
HTML Lesson 1

starting off with HTML basic syntax intro!

Your welcome :)
<pre data-enlighter-language="html">
<div class="code-buds-example">
  <h3> HTML Example </h3>
  <div class="code-buds-code">
    <span class="sp_brown">
      <span class="sp_medi"><</span>
      !DOCTYPE
      <span class="sp_red">html</span>
      <span style="color:mediumblue">></span>
    </span>
    <br>
    <span class="sp_brown">
      <span class="sp_medi"><</span>
      html
      <span class="sp_medi">></span>
    </span>
    <br>
    <span class="sp_brown">
      <span class="sp_medi"><</span>
      head
      <span class="sp_medi">></span>
    </span>
    <br>
    <span class="sp_brown">
      <span class="sp_medi"><</span>
      title
      <span class="sp_medi">></span>
    </span>
    "Page Title"
    <span class="sp_brown">
      <span class="sp_medi"><</span>
        /title
        <span class="sp_medi">></span>
      </span>
      <br>
      <span class="sp_brown">
        <span class="sp_medi"><</span>
        /head
        <span class="sp_medi">></span>
      </span>
      <br>
      <span class="sp_brown">
        <span class="sp_medi"><</span>
        body
        <span class="sp_medi">></span>
      </span>
      <br>
      <br>
      <span class="sp_brown">
        <span class="sp_medi"><</span>
        h1
        <span class="sp_medi">></span>
      </span>
      "This is a Heading"
      <span class="sp_brown">
        <span class="sp_medi"><</span>
        /h1
        <span class="sp_medi">></span>
      </span>
      <br>
      <span class="sp_brown">
        <span class="sp_medi"><</span>
        p
        <span class="sp_medi">></span>
      </span>
      "This is a paragraph."
      <span class="sp_brown">
        <span class="sp_medi"><</span>
        /p
        <span class="sp_medi">></span>
      </span>
      <br>
      <br>
      <span class="sp_brown">
        <span class="sp_medi"><</span>
        /body
        <span class="sp_medi">></span>
      </span>
      <br>
      <span class="sp_brown">
        <span class="sp_medi"><</span>
        /html
        <span class="sp_medi">></span>
      </span>
    <!-- </div>
  </div> -->
<br>
</pre>
HTML Lesson 2 Nested HTML Elements,
elements that can contain other elements.
In this example there are four HTML elements.

  <div class="code-buds-example">
    <h3> HTML Example 2 </h3>
      <div class="code-buds-code">
        <span class="sp_brown">
          <span class="sp_medi"><</span>
          !DOCTYPE
          <span class="sp_red">html</span>
          <span class="sp_medi">></span>
        </span>
        <br>
        <span class="sp_brown">
          <span class="sp_medi"><</span>
          html
          <span class="sp_medi">></span>
        </span>
        <br>
        <span class="sp_brown">
          <span class="sp_medi"><</span>
          body
          <span class="sp_medi">></span>
        </span>
        <br>
        <br>
        <span class="sp_brown">
          <span class="sp_medi"><</span>
          h1
          <span class="sp_medi">></span>
        </span>
        "My first heading"
        <span class="sp_brown">
          <span class="sp_medi"><</span>
          /h1
          <span class="sp_medi">></span>
        </span>
        <br>
        <span class="sp_brown">
          <span class="sp_medi"><</span>
          p
          <span class="sp_medi">></span>
        </span>
        "My first paragraph"
        <span class="sp_brown">
          <span class="sp_medi"><</span>
          /p
          <span class="sp_medi">></span>
        </span>
        <br>
        <br>
        <span class="sp_brown">
          <span class="sp_medi"><</span>
          /body
          <span class="sp_medi">></span>
        </span>
        <br>
        <span class="sp_brown">
          <span class="sp_medi"><</span>
          /html
          <span class="sp_medi">></span>
        </span>
      </div>
    </div>
<br>
HTML Lesson 3
<br>
HTML Atrributes
  <li> All HTML elements can have attributes </li>
  <li> Attributes provide info on the elements </li>
  <li> Atrributes are identified after the start tag </li>
  <li> Attributes come in pairs with name or a value like: name = value </li>
    <div class="code-buds-example">
      <h3> HTML Example 3 </h3>
      <div class="code-buds-code">
        <span class="sp_brown">
          <span class="sp_medi"><</span>
          a
          <span class="sp_red">
            href
            <span class="sp_medi">="https://codebuds.com"</span>
          </span>
          <span class="sp_medi">></span>
        </span>
        This is a link
          <span class="sp_medi"><<span>
            <span class="sp_brown">
            /a
            <span class="sp_medi">></span>
          </span>
        </div>
      </div>


<a href="https://css-tricks.com/look-back-history-css/">Brief History</a>
<br>

Brief History: CSS was first proposed by Håkon Wium Lie on October 10, 1994.
At the time, Lie was working with Tim Berners-Lee at CERN. ...
Style sheets have existed in one form or another since the beginnings of Standard Generalized Markup Language (SGML) in the 1980s,
and CSS was developed to provide style sheets for the web.
<br>
<br>



CSS Tutorial
<br>
CSS Lesson 1
<br>

 <div class="code-buds-example">
   <h3> CSS Example </h3>
   <div class="code-buds-code">
     <span class="sp_brown">
       body </span>
       <span class="sp_black">{</span>
         <span class="sp_red">
           <br>
           background-color</span>
           <span class="sp_medi">
             <span class="sp_black">:</span>
             light blue
             <span class="sp_black">;</span>
           </span>
           <br>
           <span class="sp_black">}</span>
           <br>
           <br>
           <span class="sp_brown">h1</span>
           <span class="sp_black">{</span>
             <br>
             <span class="sp_red">color</span>
             <span class="sp_black">:</span>
             <span class="sp_medi">white</span>
             <span class="sp_black">;</span>
             <br>
             <span class="sp_red">text-align</span>
             <span class="sp_black">:</span>
             <span class="sp_medi">center</span>
             <span class="sp_black">;</span>
             <br>
             <span class="sp_black">}</span>
             <br>
             <br>
             <span class="sp_brown">p</span>
             <span class="sp_black">{</span>
               <br>
               <span class="sp_red">font-family</span>
               <span class="sp_black">:</span>
               <span class="sp_medi">verdana</span>
               <span class="sp_black">;</span>
               <br>
               <span class="sp_red">font-size</span>
               <span class="sp_black">:</span>
               <span class="sp_medi">20px</span>
               <span class="sp_black">;</span>
               <br>
               <span class="sp_black">}</span>
             </div>
           </div>
               <br>
CSS Lesson 2
<br>
Borders
 <h3> Border styles </h3>
<li> dotted - Defines a dotted border. </li>
<li> dashed - Defines a dashed border. </li>
<li> solid - Defines a solid border. </li>
<li> double - Defines a double border. </li>
<li> groove - Defines a 3D grooved border. The effect depends on the border-color value. </li>
<li> ridge - Defines a 3D ridged border. The effect depends on the border-color value. </li>
<li> inset - Defines a 3D inset border. The effect depends on the border-color value. </li>
<li> outset - Defines a 3D outset border. The effect depends on the border-color value. </li>
<li> none - Defines no border.</li>
<li> hidden - Defines a hidden border. </li>



<div class="code-buds-example">
  <h3> CSS Example 2 </h3>
  <div class="code-buds-code">
    <span class="sp_brown">
      p.dotted</span>
      <span class="sp_black">{</span>
        <span class="sp_red">border-style</span>
        <span class="sp_black">:</span>
        <span class="sp_medi">dotted</span>
        <span class="sp_black">; }</span>
        <br>
        <span class="sp_brown">p.dashed</span>
        <span class="sp_black">{</span>
          <span class="sp_red">border-style</span>
          <span class="sp_black">:</span>
          <span class="sp_medi">dashed</span>
          <span class="sp_black">; }</span>
          <br>
          <span class="sp_brown">p.solid</span>
          <span class="sp_black">{</span>
            <span class="sp_red">border-style</span>
            <span class="sp_black">:</span>
            <span class="sp_medi">solid</span>
            <span class="sp_black">; }</span>
            <br>
            <span class="sp_brown">p.double</span>
            <span class="sp_black">{</span>
              <span class="sp_red">border-style</span>
              <span class="sp_black">:</span>
              <span class="sp_medi">double</span>
              <span class="sp_black">; }</span>
              <br>
              <span class="sp_brown">p.groove</span>
              <span class="sp_black">{</span>
                <span class="sp_red">border-style</span>
                <span class="sp_black">:</span>
                <span class="sp_medi">groove</span>
                <span class="sp_black">; }</span>
                <br>
                <span class="sp_brown">p.ridge</span>
                <span class="sp_black">{</span>
                  <span class="sp_red">border-style</span>
                  <span class="sp_black">:</span>
                  <span class="sp_medi">ridge</span>
                  <span class="sp_black">; }</span>
                  <br>
                  <span class="sp_brown">p.inset</span>
                  <span class="sp_black">{</span>
                    <span class="sp_red">border-style</span>
                    <span class="sp_black">:</span>
                    <span class="sp_medi">inset</span>
                    <span class="sp_black">; }</span>
                    <br>
                    <span class="sp_brown">p.outset</span>
                    <span class="sp_black">{</span>
                      <span class="sp_red">border-style</span>
                      <span class="sp_black">:</span>
                      <span class="sp_medi">outset</span>
                      <span class="sp_black">; }</span>
                      <br>
                      <span class="sp_brown">p.none</span>
                      <span class="sp_black">{</span>
                        <span class="sp_red">border-style</span>
                        <span class="sp_black">:</span>
                        <span class="sp_medi">none</span>
                        <span class="sp_black">; }</span>
                        <br>
                        <span class="sp_brown">p.hidden</span>
                        <span class="sp_black">{</span>
                          <span class="sp_red">border-style</span>
                          <span class="sp_black">:</span>
                          <span class="sp_medi">hidden</span>
                          <span class="sp_black">; }</span>
                          <br>
                          <span class="sp_brown">p.mix</span>
                          <span class="sp_black">{</span>
                            <span class="sp_red">border-style</span>
                            <span class="sp_black">:</span>
                            <span class="sp_medi">dotted dashed solid double</span>
                            <span class="sp_black">; }</span>
                          </div>
                        </div>
                        <br>
CSS Lesson 3
<br>
CSS Navigation Bar = List of Links
<br>
<div class="code-buds-example">
  <h3> CSS Example 3 </h3>
  <br>
  <div class="code-buds-code">
    <span class="sp_medi"><</span>
    <span class="sp_brown">ul</span>
    <span class="sp_medi">></span>
    <br>
    <span class="sp_medi"><</span>
    <span class="sp_brown">li</span>
    <span class="sp_medi">></span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">a</span>
    <span class="sp_red">href</span>
    <span class="sp_medi">="default.asp"></span>
    <span class="sp_black">Home</span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">/a</span>
    <span class="sp_medi">></span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">/li</span>
    <span class="sp_medi">></span>
    <br>
    <span class="sp_medi"><</span>
    <span class="sp_brown">li</span>
    <span class="sp_medi">></span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">a</span>
    <span class="sp_red">href</span>
    <span class="sp_medi">="news.asp"></span>
    <span class="sp_black">News</span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">/a</span>
    <span class="sp_medi">></span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">/li</span>
    <span class="sp_medi">></span>
    <br>
    <span class="sp_medi"><</span>
    <span class="sp_brown">li</span>
    <span class="sp_medi">></span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">a</span>
    <span class="sp_red">href</span>
    <span class="sp_medi">="contact.asp"></span>
    <span class="sp_black">Contact</span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">/a</span>
    <span class="sp_medi">></span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">/li</span>
    <span class="sp_medi">></span>
    <br>
    <span class="sp_medi"><</span>
    <span class="sp_brown">li</span>
    <span class="sp_medi">></span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">a</span>
    <span class="sp_red">href</span>
    <span class="sp_medi">="about.asp"></span>
    <span class="sp_black">About</span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">/a</span>
    <span class="sp_medi">></span>
    <span class="sp_medi"><</span>
    <span class="sp_brown">/li</span>
    <span class="sp_medi">></span>
    <br>
    <span class="sp_medi"><</span>
    <span class="sp_brown">/ul</span>
    <span class="sp_medi">></span>
  </div>
</div>
<br>

<h1> Javascript Lesson 1 </h1>

<h3> Intro to javascript have fun! </h3>

<h4> Javascript can change the HTML Document </h4>

  <p> One of the many javascript methods one of them is <b> getElementById() </b> </p>

  <div class="code-buds-example">
    <h3> Javascript Example </h3>
    <div class="code-buds-code">
      <span class="sp_black">document.get
