<div class="row">
  <div class="col-lg-12">
    <%= link_to 'Admin Home', admins_path, class:'AdminHome' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= link_to 'Log Out', destroy_admin_session_path, method: :delete, class:'AdminHome' %>
  </div>
</div>
